<div class="character-card">
  <%= character.name %>
  <%= character.level %>
  <%= character.gender %>

  <a href="/char/<%= character.id %>/up">
    <div class="level-button level-up">
      up
    </div>
  </a>
  <a href="/char/<%= character.id %>/down">
    <div class="level-button level-down">
      down
    </div>
  </a>
</div>