<div class="player-card">
  <%= player.name %>
  <%= player.level %>
  <%= player.gender %>

  <a href="/char/<%= player.id %>/up">
    <div class="level-button level-up">
      up
    </div>
  </a>
  <a href="/char/<%= player.id %>/down">
    <div class="level-button level-down">
      down
    </div>
  </a>
</div>