<!-- if game state is 'setup' -->
<% if game.state == 'start' %>
  <h1>game setup</h1>
  <%= erb :'game/add', locals: {players: game.players} %>
<% end %>


<!-- if game state is 'scores' -->
<% if game.state == 'scores' %>
  <h1>gameplay</h1>
  <%=  erb :'game/scores', locals: {players: game.players} %>
<% end %>


<!-- if game state is 'combat' -->

<!-- if game state is 'finished' -->


<!-- generic test output -->

<h1>REWRITE TEST</h1>
<%= game.id %>
<%= game.state %>

<h1>all games for user</h1>
<% Game.all(USER).each do |game| %>
  <p><%= game.id %>: <%= game.date %> - <%= game.state %></p>
<%  end %>